.app {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dice {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 50%;
}
.dice img {
  width: 200px;
}
